Hi! Would you agree that as of RFC5555 section 3.3.4, a DATE property cannot have a timezone?
That's why we have this implementation, never mind the implementation in v4.

Hi! I think that section is about a DATE value, not a DATE property. When I look at the DTSTART and DTEND properties, I see they can have either a DATE or DATE-TIME value, but also parameters like TZID. It is not clear to me that you cannot use a TZID parameter with a DATE value. So I think that you can use a TZID parameter with a DATE value.

A certain  evidence could be, that Google Calendar and Microsoft Outlook don't add a timezone to all-day events as well. Just double-checked that this is the case.
So we're confident that the implementation in v5 is compliant to RFC5545, while adding a timezone is not.
When a timezone should apply, a DATE-TIME value type is to be used instead of DATE.

```
BEGIN:VCALENDAR
PRODID:-//Microsoft Corporation//Outlook 16.0 MIMEDIR//EN
VERSION:2.0
METHOD:PUBLISH
X-MS-OLK-FORCEINSPECTOROPEN:TRUE
BEGIN:VEVENT
CLASS:PUBLIC
CREATED:20250208T095053Z
DESCRIPTION: \n
DTEND;VALUE=DATE:20250204
DTSTAMP:20250208T095053Z
DTSTART;VALUE=DATE:20250203
LAST-MODIFIED:20250208T095053Z
PRIORITY:5
RRULE:FREQ=WEEKLY;COUNT=25;BYDAY=MO
SEQUENCE:0
SUMMARY;LANGUAGE=en:Test all-day event
TRANSP:TRANSPARENT
UID:040000008200E00074C5B7101A82E0080000000040B8BBE8157ADB01000000000000000
	0100000002B895833F77B2A4EA69F2887A3F5A198
X-MICROSOFT-CDO-BUSYSTATUS:FREE
X-MICROSOFT-CDO-IMPORTANCE:1
X-MICROSOFT-DISALLOW-COUNTER:FALSE
X-MS-OLK-CONFTYPE:0
BEGIN:VALARM
TRIGGER:-PT1080M
ACTION:DISPLAY
DESCRIPTION:Reminder
END:VALARM
END:VEVENT
END:VCALENDAR
```

To fully address your use case: If you want the all-day event to be associated with a specific timezone, you can add a default VTIMEZONE to the calendar.