@ical-org/maintainers 
To my understanding, the presence of `ENCODING=QUOTED-PRINTABLE` and `CHARSET=UTF-8` as property parameters for the `DESCRIPTION` property makes that specific content line **non-compliant** with the iCalendar specification.
The **only allowed values** for the `ENCODING` parameter are "8BIT" and "BASE64" (RFC 5545, Section 3.2.7)
There is also **no property parameter** to declare the **charset** used in a property value within the iCalendar object itself.

Microsoft Outlook partly sets `ENCODING=QUOTED-PRINTABLE` (incorrectly) in the `.ics`, but also uses e.g. `X-ALT-DESC;FMTTYPE=text/html` to transport rich text of the description.

Should we continue to follow-up on this PR or rather close it?