Thanks for pointing this out. It's rather about the UTF-8 representation when serializing than the `char` representation in C# to be precise. The UTF-8 encoder is a "must use" because of Section 8.1 of RFC 5545. As we're currently quite busy fixing a couple of other issues of ica.lnet, we'd be more than happy to welcome a PR. Could you give us a helping hand?

it's about the method `TextUtil.FoldLines(string)` that requires the fix.

> Could you give us a helping hand?

Actually, yes, but you do it first.  
I inspect the resulting code and make some improvements (more in mental part, but also in code itself).  
Hope this helps:

https://github.com/ical-org/ical.net/pull/701