Categories are output into multiple instances of CATEGORIES lines.

https://tools.ietf.org/html/rfc5545#section-3.8.1.2

The standard does not say "This property can be specified multiple times" in Conformance, though it does not forbid multiple instances either. MS Outlook is able to read an event with multiple CATEGORIES instances, but the export will output only 1 line.

It will be good the iCal component could conform to the standard when outputting ics though it could tolerate multiple instances of CATEGORIES.

I understand this is the legacy behavior of DDay.iCal component. 



@rianjs Can you please reopen this issue? The CATEGORIES property is printed multiple times on serialize and I cannot read it properly.
The test to solve this issue was Ignored some time ago. ([SymmetricSerializationTests.CategoriesTest](https://github.com/ical-org/ical.net/blame/95bbc53991009e64c208b827f3c89bd49680c6bc/Ical.Net.Tests/SymmetricSerializationTests.cs))

@NRG-Drink Confirm the behavior still exists. I think it's not too difficult to resolve. Could you help us with a PR fixing it?

Output is
```ics
CATEGORIES:Foo
CATEGORIES:Bar
CATEGORIES:Baz
```
instead of the RFC5545, s. 3.8.1.2 compliant output
```ics
CATEGORIES:Foo,Bar,Baz
```

EDIT:
After double-checking with RFC5545, the conclusion is:

### **RFC 5545, Section 3.6.1 (Event Component)**  (page 53)
> *"Properties defined by the iCalendar object MAY be specified more than once in a "VEVENT" calendar component."*  

Since **CATEGORIES** is a general property (not marked as singular in the property table), this means it **can appear multiple times** in a **VEVENT**.  

### **Key References:**  
1. **Section 3.6.1** (VEVENT) – Allows most properties to repeat unless restricted.  
2. **Section 3.8.1.2** (CATEGORIES) – Defines the property but doesn’t restrict multiplicity.  
3. **Section 3.2** (Property Occurrence) – By default, properties may repeat unless specified otherwise.  

### **Valid example**  
```ical
BEGIN:VEVENT
UID:12345
CATEGORIES:MEETING
CATEGORIES:WORK
...
END:VEVENT
```  

Here is the corresponding unit test:
https://github.com/ical-org/ical.net/blob/34ad7a3979c488f97ec16c28e2c7716b41ad7a00/Ical.Net.Tests/SimpleDeserializationTests.cs#L166-L189


You are totally right. So it's more a feature request than a bug?
I just made a working version and created a PR. It would be great to have it in the library.