Aside from security, in RFC 5545 I don't see any reference to 7-bit encoding, only `8BIT` and `BASE64`, so yes, I'd agree.

```
encodingparam      = "ENCODING" "="
                          ( "8BIT"
          ; "8bit" text encoding is defined in [[RFC2045](https://www.rfc-editor.org/rfc/rfc2045)]
                          / "BASE64"
          ; "BASE64" binary encoding format is defined in [[RFC4648](https://www.rfc-editor.org/rfc/rfc4648)]
```