```ics
RRULE:FREQ=YEARLY;BYMONTH=12;BYMONTHDAY=1,30;BYWEEKNO=1;UNTIL=20320101 
DTSTART:20241230 
```
For this test case RFC seems to be quite clear:

RFC says: "Week number one of the calendar year is the **first week** that contains at least four (4) days **in that calendar year**". So  week number 1 of 2024 started on January 1, 2024 - not in December. This complies with the "standard interpretation" based on ISO 8601, RFC5545 does not explicitly tell, what "in that calendar year" should mean, though.
The ```RRULE``` generates an empty set of dates for the recurrence instances, because of ```BYWEEKNO=1```.

RFC says: "The recurrence set generated with a "DTSTART" property value that doesn’t match the pattern of the rule is **undefined**."

So I'd say the the expected occurrences 20241230,20251230,20301230,20311230 are not correct - should be empty (or better throw for "undefined"?). Maybe compare again to libical?

```ics
RRULE:FREQ=YEARLY;BYYEARDAY=-2;BYWEEKNO=52;UNTIL=20340101 
DTSTART:20271230
```
Similar to the test case above. This time combining `BYYEARDAY=-2` and `BYWEEKNO=1`, cannot generate any occurrences because a date cannot simultaneously be the second-to-last day of December and also be in week 1 of the same year.

I don't think this is so obvious. There is a lack of clarity in the RFC. A reasonable interpretation (actually the one we are following as of today) is that in case of the first and the last week of a year, a recurrence can indeed lie outside the actual calendar year. In the following rule `20241230` refers to the recurrence in the year **2025**, as CW 1 of 2025 starts on that day.

```ics
RRULE:FREQ=YEARLY;BYMONTH=12;BYMONTHDAY=1,30;BYWEEKNO=1;UNTIL=20320101 
DTSTART:20241230 
```

## Ical.Net interpretation
Our today's interpretation is as follows:

1. We start with year 2025
2. We find all days of week 1 -> _2024-12-30 - 2025-01-05_
3. Dates are considered fully expanded now, so all subsequent BY parts are only applied in limiting mode.
4. We apply `BYMONTHDAY=1,30` as limit -> 2024-12-30

Libical also follows the assumption, that BYWEEKNO can end up in the previous or subsequent year.

## JsCalendar interpretation
Another interpretation would be the one [JsCalendar (RFC8984)](https://www.rfc-editor.org/rfc/rfc8984.html#name-recurrencerules) is following, which has some deviations from RFC 5545 though, when it comes to BYDAY and BYWEEKNO. They start with all seconds of the given calendar year, starting at Jan 1st and apply all the `BY` rules as limits. So there is no way to represent 'monday of CW 1` (at least not with interval > 1).

## 'Expand only' interpretation
Another interpretation would be to take the RFC5545 expand matrix seriously, which tells that every BY part (except BYDAY, BYSETPOS) is *expanding* in case of `YEARLY`. This could be seen as follows (e.g. year 2025):

1. We start with year 2025 -> 2025-12-30
2. We extend by 'BYMONTH' -> 2025-12-30 (Tuesday)
3. We extend by 'BYWEEKNO=1' -> Tuesday in Week 1 -> 2024-12-31
4. We extend by 'BYMONTHDAY' -> 1st and 30th of the given month -> 2024-12-01, 2024-12-30

Question here is what 'extend' means. Could also be interpreted as _building the union set_, but I think this is quite unreasonable. In the above example it means _transferring the values of the set of recurrences determined in the current interval so far, to the given BY part_.


Here they discuss the topic too and the php-rrule guy has yet another interpretation of how and where to apply the expand matrix but finally comes to the conclusion, that it's not that clear https://stackoverflow.com/questions/48064349/yearly-rrule-interpretation-when-more-than-one-of-bymonth-byweekno-byyearday-a.

So question is, which interpretation to follow. I don't think our interpretation or any other is fully wrong, I just want to find a clear answer. The reason is that I was trying to improve the recurrence evaluation code, which ended up more or less in a rewrite. And there is some weird code is caused by this ambiguity. The by far easiest and clearest way to implement this is by following the JsCalendar interpretation, but even there I feel not everything is clear and its not fully in line with RFC 5545.

We start with year 2025 -> 2025-12-30

> Shouldn't it read 2024-12-30?
RRULE:FREQ=YEARLY;BYMONTH=12;BYMONTHDAY=1,30;BYWEEKNO=1;UNTIL=20320101 
 DTSTART:20241230 

We find all days of week 1 -> 2024-12-30 - 2025-01-05

> Agree, [ISO.8601.2004] allows Week 1 to span across year boundaries

Would the 4th step mean to skip the preceding 3 rules, which includes `BYWEEKNO`?

> We apply BYMONTHDAY=1,30 as limit -> 2024-12-30

The sequence to apply for BY rules is described in this paragraph of RFC5545:

> If multiple BYxxx rule parts are specified, then after evaluating the specified FREQ and INTERVAL rule parts, the BYxxx rule parts are applied to the current set of evaluated occurrences in the following order: **BYMONTH, BYWEEKNO**, BYYEARDAY, BYMONTHDAY, BYDAY, BYHOUR, BYMINUTE, BYSECOND and BYSETPOS; then COUNT and UNTIL are evaluated.

Keeping the sequence of the rules:

1. Apply `BYMONTH=12`. This filters the potential occurrences to include only dates in December of each year (Dec 1 through Dec 31).
2. Apply `BYWEEKNO=1`. This filters the current set (December dates) to include only dates that are also in week 1 of that **same year**. Week 1 of year Y does not contain dates in December of year Y; Week 1 of year Y is in Jan of year Y (and potentially Dec of year Y-1)
3. Going this way results in an empty set of dates for year Y.

The difference is the interpretation of `BYWEEKNO`.

> Shouldn't it read 2024-12-30?

The text maybe was misleading. This is just the process for 2025, which eventually results in the 2024-12-30 entry.

> Would the 4th step mean to skip the preceding 3 rules, which includes BYWEEKNO?

No, the way we implemented it is that it is applied as filter. I.e. it takes the set generated by the previous steps and removes those that don't have monthday 1 or 30.

> Apply BYWEEKNO=1. This filters the current set (December dates) to include only dates that are also in week 1 of that same year. Week 1 of year Y does not contain dates in December of year Y; Week 1 of year Y is in Jan of year Y (and potentially Dec of year Y-1)

This is the case if we assume, BYWEEKNO is applied in a limiting way, but according to the expand matrix it is expanding. So, while I see your point, I think this is one interpretation of multiple viable ones, but there's no obviously correct one. There is [this stackoverflow discussion](https://stackoverflow.com/questions/48064349/yearly-rrule-interpretation-when-more-than-one-of-bymonth-byweekno-byyearday-a), where the maintainer of php-rule tells, that only the first BY rule is applied according to the expand matrix but he also doesn't lay out how the remaining BY would be applied and why.

Maybe we should choose based on what is the most natural (not necessarily but probably also the easiest) way of implementing it. This usually also is the most understandable one often most correct one.

My interpretation was, that even if a BY part is categorized as "Expand," applying it after another BY part effectively filters (or limits) the set of potential dates generated by the previous step(s).
But anyway, let's try to choose what is the most natural way.

So your interpretation would be in line with jscalendar (except maybe for the year crossing byweekno), right?

> So your interpretation would be in line with jscalendar (except maybe for the year crossing byweekno), right?

Regarding the result: yes (I would expect `BYWEEKNO=1` referring to the current year).

> I would expect `BYWEEKNO=1` referring to the current year

You mean in `FREQ=YEARLY;BYWEEKNO=1;BYDAY=MO` you suggest to only return those where the day belongs to the 'right' year? I.e. Monday of Week 1 of 2025 would be 2024-12-30 and therefore wouldn't be returned? That's actually what JsCalendar specifies.

Yes, that's my humble opinion.

Even though this is what JsCalendar seems to do (if I understand correctly), I'm not convinced this is the most natural thing to do. Actually, if BYWEEKNO is supported at all, why would BYWEEKNO=1 be a special case compared to BYWEEKNO=2? Was looking at how other libs are resolving `BYWEEKNO=1;BYMONTH=12;BYDAY=MO`. And most seem to support the case:

* rrule.js: does support it (https://jkbrzt.github.io/rrule/)
* dateutil (Python): does support it according to ChatGPT running it
* libical: `BYWEEKNO` can't be combined with `BYMONTH` but despite that does support BYWEEKNO=1 in december
* ical4j: Does support it, at least starting with v4
* Ical.Net: Does support it as of today

So I think we should keep supporting it as well.

My intuitive approach right now would be to follow the approach you outlined, which seems to match the JsCalendar approach, with the exception that in case that BYWEEKNO is present, the given year starts with the start of week no 1 and ends with the end of the last week of the year (week -1). BYYEARDAY would refer to the day of the calendar year though.

Next question would be how to deal with these cases:
* BYMONTH: Does only apply to months of the interval's year or can it also apply to the surrounding months if the first or last week crosses the year boundary? Would assume it also applies to months of surrounding years, as the case in the other libs I checked.
* BYYEARDAY, BYMONTHDAY: Same as BYMONTH: Only for the interval's year or also for surrounding ones? Assume also for surrounding ones.
* INTERVAL > 1: I.e. will `BYWEEKNO=1;BYDAY=MO;INTERVAL=2` return `2000-01-03`, `2001-12-31` (which belongs to 2002) or anything else?

The following case
```ics
DTSTART=20000103
RRULE=FREQ=YEARLY;BYWEEKNO=1;BYDAY=MO;INTERVAL=2
```

outputs:

* rrule.js: `2000-01-03,2002-12-30,2006-01-02,2008-12-29`
* icalutil (Python): `2000-01-03,2002-12-30,2006-01-02,2008-12-29`

don't agree with those though. Will check more when I find time.

My goodness, that's quite an effort. But it's also interesting to see how others handle these edge cases. Will try to find some time on Sunday or Monday.

Yes, the problem is, that the RFC really isn't precise in that respect, so it's all about interpretation, comparing with others, guessing user expectations, etc. But on the other hand these are really edge cases, so I'd say the priority is low.

Sorry for the delay. The answers to the questions asked are not as clear and well documented as I wished. I disclaim to be an expert in all kinds of iCalendar edge cases. What I'm writing is based on the RFC5545 specification **I found**, and some common sense about their interpretation.

> to match the JsCalendar approach, with the exception that in case that BYWEEKNO is present, the given year starts with the start of week no 1 and ends with the end of the last week of the year (week -1

The best option I came up with

> BYMONTH: Does only apply to months of the interval's year or can it also apply to the surrounding months if the first or last week crosses the year boundary?

Again, agree there is no clear description. The application order and descriptions indicate that `BYMONTH` filters based on the month **within the year**, which I'd also consider as natural.

> BYYEARDAY, BYMONTHDAY: Same as BYMONTH: Only for the interval's year or also for surrounding ones?

Yes, same as `BYMONTH`

> INTERVAL > 1: I.e. will BYWEEKNO=1;BYDAY=MO;INTERVAL=2 return 2000-01-03, 2001-12-31 (which belongs to 2002) or anything else?

To be precise, I think it's about `FREQ=YEARLY;BYWEEKNO=1;BYDAY=MO;INTERVAL=2` with e.g. `DTSTART:20010101T090000`?
Then:
`INTERVAL=2` specifies that the recurrence happens every other year.
`BYWEEKNO=1` limits the occurrences to week number 1 of the year (as discussed earlier).
`BYDAY=MO` limits the occurrences to Mondays within the weeks specified by `BYWEEKNO`.
The generated dates would be 2001-01-01T090000, 2005-01-03T090000, 2007-01-01T090000

```ical
DTSTART=20000103
RRULE=FREQ=YEARLY;BYWEEKNO=1;BYDAY=MO;INTERVAL=2
```
```
ical.net: 2000-01-03,2001-12-31,2003-12-29,2006-01-02,2007-12-31
rrule.js: 2000-01-03,2002-12-30,2006-01-02,2008-12-29
```

With the above case, ical.net results look correct to me already. When using `BYWEEKNO`, I expect week years to be prioritized over calendar year. "Monday of week 1, every 2 years" - There is always a Monday in week 1, and I believe the calendar year should not be a concern at all here.

To consider the calendar year, you would really be asking for something like, "The first Monday of the year, every 2 years" which would be `FREQ=YEARLY;BYDAY=+1MO;INTERVAL=2`.

---


```ical
RRULE:FREQ=YEARLY;BYMONTH=12;BYMONTHDAY=1,30;BYWEEKNO=1;UNTIL=20320101 
DTSTART:20241230
INSTANCES:20241230,20251230,20301230,20311230
```
The above test case looks correct to me too. 2024-12-30 is in the 12th month of a calendar year, and week no 1 of a week year, and 30th day of a month. I see no reason to exclude this date because calendar years of month vs weekno do not match.

> The above test case looks correct to me

@minichma @maknapp Should we close the issue, or are there any doubts still left open?

`YEARLY` + `BYMONTHDAY` does seem to be wrong though. The test cases are only correct because `BYMONTH` is included.

See [this test](https://github.com/ical-org/ical.net/blob/4e51391167e4f3889b062a8f9e2f2495b6bb00ac/Ical.Net.Tests/RecurrenceTests.cs#L2007) and the rule for it:

```ical
DTSTART;TZID=US-Eastern:20050409T070000
RRULE:FREQ=YEARLY;INTERVAL=2;BYDAY=MO,TU;BYMONTHDAY=8,9,10,11,12,13,14
SUMMARY:Every other year, on Monday and Tuesday on the 2nd week of each month.
```

The summary here and the expected values are wrong. I think `BYMONTHDAY` should expand only for month 4 (from `DTSTART`) because no other month is specified. The test only passes because it only asks for month 1, which just happens to be where `YEARLY` increments to. If the test were changed to start evaluation at `DTSTART`, the results would be:
```
2005-04-11T07:00:00
2005-04-12T07:00:00
2007-01-08T07:00:00
2007-01-09T07:00:00
2009-01-12T07:00:00
2009-01-13T07:00:00
```

I would expect the results to be:
```
2005-04-11T07:00:00
2005-04-12T07:00:00
2007-04-09T07:00:00
2007-04-10T07:00:00
2009-04-13T07:00:00
2009-04-14T07:00:00
```

Note that rrule.js handles this differently by expanding for every month. There is an [rrule.js issue](https://github.com/jkbrzt/rrule/issues/275) that talks about that being wrong.

### Followed-up in #885 

> I would expect the results to be

Yes indeed, but almost agree: RFC 5545, Section 3.8.5.3 says that if `DTSTART` does not match the rule, the result is **undefined**, while Google and Outlook calendar **do show** `DTSTART` as the first occurrence regardless of the rule (because it's the "seed").

For simplicity I used the year 2025 and a sample for Google Calendar, using a Thursday seed date.
```ics
DTSTART:20250403T070000Z
DTEND:20250403T080000Z
RRULE:FREQ=YEARLY;INTERVAL=2;BYDAY=MO,TU;BYMONTHDAY=8,9,10,11,12,13,14
```
The first occurrence:
<img width="429" height="294" alt="Image" src="https://github.com/user-attachments/assets/819e78ca-9db9-4c87-bf7a-add1f6efab66" />

So I'd rather follow the behavior "in the Google and Microsoft wild" and include the seed, too.
@minichma Your opinion?

### Followed-up in #885 

I imported the rule into Google Calendar and while the text description has every month listed, the events in the calendar only exist in April every two years.

### Followed-up in #885 

> events in the calendar only exist in April every two years.

Interesting. The screenshot is from the Google web app. ~I didn't check other months though.~ You're right!

[Edit]
For Microsoft Outlook (any version) the `RRULE:FREQ=YEARLY;INTERVAL=2;BYDAY=MO,TU;BYMONTHDAY=8,9,10,11,12,13,14` is an supported pattern. It fails silently. Looks like `BYDAY` and `BYMONTHDAY` cannot appear in the same rule: Remove one of them an the import will succeed.

To summarize: Google Calendar only has partial support, and includes the seed, while Outlook fails altogether.

### Followed-up in #885 

> `YEARLY` + `BYMONTHDAY` does seem to be wrong though. The test cases are only correct because `BYMONTH` is included.
> 
> See [this test](https://github.com/ical-org/ical.net/blob/4e51391167e4f3889b062a8f9e2f2495b6bb00ac/Ical.Net.Tests/RecurrenceTests.cs#L2007) and the rule for it:
> 
> DTSTART;TZID=US-Eastern:20050409T070000
> RRULE:FREQ=YEARLY;INTERVAL=2;BYDAY=MO,TU;BYMONTHDAY=8,9,10,11,12,13,14
> SUMMARY:Every other year, on Monday and Tuesday on the 2nd week of each month.
> 
> The summary here and the expected values are wrong. I think `BYMONTHDAY` should expand only for month 4 (from `DTSTART`) because no other month is specified. The test only passes because it only asks for month 1, which just happens to be where `YEARLY` increments to. If the test were changed to start evaluation at `DTSTART`, the results would be:
> 
> ```
> 2005-04-11T07:00:00
> 2005-04-12T07:00:00
> 2007-01-08T07:00:00
> 2007-01-09T07:00:00
> 2009-01-12T07:00:00
> 2009-01-13T07:00:00

As the Google Calendar implementation is buggy and Microsoft Outlook(s) don't parse the complex `RRULE` at all, my conclusion was that the bug fix should return occurrences as shown above.

### Followed-up in #885 

Spec:
> if the BYMINUTE, BYHOUR, BYDAY, BYMONTHDAY, or BYMONTH rule part were missing, the appropriate minute, hour, day, or month would have been retrieved from the "DTSTART" property

The spec says to use the DTSTART month when no other is specified. This is ignored for YEARLY+BYWEEKNO because it makes sense. I don't see how adding BYMONTHDAY to YEARLY should change the month. What about these:

```ical
DTSTART:20250404
RRULE:FREQ=YEARLY
EXPECTED: 20250404, 20260404, 20270404

DTSTART:20250408
RRULE:FREQ=YEARLY;BYMONTHDAY=8,9
EXPECTED: 20250408, 20250409, 20260408, 20260409, 20270408, 20270409

NOT EXPECTED: 20250408, 20250409, 20260108, 20260109, 20270108, 20270109
```

The actual Google Calendar events match what I was expecting. I think we can ignore the "English description" of the repeat that Google Calendar tries to make - they likely only test that for things they support in the GUI.


I still think the following is correct:


```ical
RRULE:FREQ=YEARLY;INTERVAL=2;BYDAY=MO,TU;BYMONTHDAY=8,9,10,11,12,13,14

2005-04-11T07:00:00
2005-04-12T07:00:00
2007-04-09T07:00:00
2007-04-10T07:00:00
2009-04-13T07:00:00
2009-04-14T07:00:00
```

### Followed-up in #885 

[This test](https://github.com/ical-org/ical.net/blob/4e51391167e4f3889b062a8f9e2f2495b6bb00ac/Ical.Net.Tests/RecurrenceTests.cs#L2007) should then read:
```cs
[Test, Category("Recurrence")]
public void YearlyInterval1()
{
    var iCal = Calendar.Load(IcsFiles.YearlyInterval1)!;
    EventOccurrenceTest(
        iCal,
        new CalDateTime(2005, 4, 11, 7, 0, 0, _tzid),
        new CalDateTime(2010, 1, 31, 7, 0, 0, _tzid),
        new[]
        {
            new Period(new CalDateTime(2005, 4, 11, 7, 0, 0, _tzid), Duration.FromHours(24)),
            new Period(new CalDateTime(2005, 4, 12, 7, 0, 0, _tzid), Duration.FromHours(24)),
            new Period(new CalDateTime(2007, 4, 9, 7, 0, 0, _tzid), Duration.FromHours(24)),
            new Period(new CalDateTime(2007, 4, 10, 7, 0, 0, _tzid), Duration.FromHours(24)),
            new Period(new CalDateTime(2009, 4, 13, 7, 0, 0, _tzid), Duration.FromHours(24)),
            new Period(new CalDateTime(2009, 4, 14, 7, 0, 0, _tzid), Duration.FromHours(24))
        },
        null
    );
}
```
To avoid double work: I started working on that.

### Followed-up in #885 

> So question is, which interpretation to follow. I don't think our interpretation or any other is fully wrong, I just want to find a clear answer. The reason is that I was trying to improve the recurrence evaluation code, which ended up more or less in a rewrite. And there is some weird code is caused by this ambiguity. The by far easiest and clearest way to implement this is by following the JsCalendar interpretation, but even there I feel not everything is clear and its not fully in line with RFC 5545.

* I agree that RFC 5545 section 3.3.10 (the "expand/limit" matrix) indicates that for FREQ=YEARLY many BY-* parts (including BYWEEKNO, BYMONTH, BYMONTHDAY, BYYEARDAY) are expected to be treated with expansion semantics (not simply limiting), except for BYSETPOS and BYDAY which are special.
* In our current code `RecurrenceUtil.GetExpandBehaviorList` already returns `true` (expand) for those parts when `FrequencyType.Yearly`, so the RFC 5545 expansion intent is already encoded partly.
* However `GetWeekNoVariants` in `RecurrencePatternEvaluator` expands `BYWEEKNO` (via `GetWeekNoVariantsExpanded`) then forces subsequent parts to "only limit" by setting `expandContext.DatesFullyExpanded = true` (weird, I agree) and explicitly calling `GetMonthVariants(weekNoDates, pattern, expand: false)`. That prevents later BY rules from expanding as RFC prescribes.

Frankly, even after diving deeper, I'm not sure.
To make `GetWeekNoVariants` expanding would not be a big deal. But we'd get 20+ test failing (mostly from libical, and probably more not yet identified). Also, for ical.net users the changed behavior may break their existing code. So if we'd change the behavior, it would go into v6.

@minichma Did libical already take a decision on this issue?
@maknapp How do you think about it?

When evaluating, the BY rules are applied based on the BY rule last applied. Example from RFC:
> Then, "BYMONTH=1" would be applied to arrive at "every January, every other year".
> Then, "BYDAY=SU" would be applied to arrive at "every Sunday in January, every other year".

BYWEEKNO + BYMONTHDAY means "the month days within the specified weeks." Expanding month days outside of specified week numbers because the table says "expand" would mean BYMONTH + BYMONTHDAY would also need to be treated the same way. Would it make any sense to include month days outside of specified months?

The most logical way to read the table is to consider the expand/limit behavior as relating only to the FREQ value, not for how the BY rules interact. Maybe there are only special notes for BYDAY because the BYDAY offset values have a different meaning when applied to different BY rules.

For BYWEEKNO producing values outside of the calendar year, the RFC does not define YEARLY specifically as calendar years. "BYWEEKNO=1;BYDAY=MO" means "Monday of week 1, every year." Skipping weeks just because some Mondays do not line up with certain calendar years does not make sense to me.

In the end, it all comes down to how these rules are actually used. Someone using ISO week numbers is thinking in those terms and expecting occurrences by week number. Without reading the spec, I would expect all occurrences to _match_ each BY rule, which is what ical.net currently does.